// Typography
$font-family: sans-serif !default;
$line-height: 1.15 !default;
$font-weight: 400 !default;

// Colors
$color-primary: #1e1f20 !default;
$color-yellow: #ffc600;
$color-coral: #ed7571;
$color-blue: #0a4280;
$color-dp: #142965;

$default-bg: #fdfaf6 !default;

$success-bg: #56cf87 !default;
$info-bg: #559fbf !default;
$warning-bg: #ffb96b !default;
$error-bg: #ff876b !default;

// breakpoints
$small: 600px;
$medium: 768px;
