@import '../../styles/variables';

.ReactNoti {
  font-family: $font-family;
  font-weight: $font-weight;
  line-height: $line-height;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  &__Tray {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    color: $color-primary;
    text-align: left;
    padding: 8px;
    width: calc(100% - 32px);
    z-index: 4000;

    @media screen and (min-width: $small) {
      width: 360px;
    }

    &--top-center {
      top: 0;
    }

    &--top-right {
      top: 0;

      @media screen and (min-width: $small) {
        left: initial;
        transform: initial;
        right: 0;
      }
    }

    &--top-left {
      top: 0;

      @media screen and (min-width: $small) {
        right: initial;
        left: 0;
        transform: initial;
      }
    }

    &--bottom-center {
      bottom: 0;
    }

    &--bottom-right {
      bottom: 0;

      @media screen and (min-width: $small) {
        left: initial;
        right: 0;
        transform: initial;
      }
    }

    &--bottom-left {
      bottom: 0;

      @media screen and (min-width: $small) {
        right: initial;
        left: 0;
        transform: initial;
      }
    }
  }
}
