@import '../../styles/variables';

.ReactNoti__Toast {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 48px;
  max-height: 600px;
  color: $color-primary;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.175);

  // IE 11 min-height bug workaround
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    &::after {
      content: '';
      min-height: inherit;
    }
  }

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &--success {
    background-color: $success-bg;
  }

  &--info {
    background-color: $info-bg;
  }

  &--warning {
    background-color: $warning-bg;
  }

  &--error {
    background-color: $error-bg;
  }

  .RN-icon {
    display: inline-block;
    color: currentColor;
    fill: currentColor;
    width: 16px;
    height: 16px;
  }

  &__type {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    padding-top: 8px;
    padding-bottom: 8px;
    overflow: hidden;
  }

  &__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    font-weight: 200;
    padding: 8px;
    margin-right: 22px;

    &.no-icon {
      padding: 8px 12px;
    }
  }

  &__title {
    font-size: 13px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 4px;
  }

  &__btn-dismiss {
    position: absolute;
    top: 0;
    right: 0;
    flex-shrink: 0;
    background: transparent;
    color: inherit;
    border: 0;
    opacity: 0.6;
    padding: 8px;
    transition: opacity 0.15s ease;

    &:hover {
      opacity: 1;
    }

    .RN-icon {
      width: 9px;
      height: 9px;

      &.icon-close {
        background-image: url('../../assets/close-16.svg');
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}
