// Typography
$font-family: 'Open Sans', sans-serif;
$line-height: 1.4;
$font-weight: 400;

// Colors
$color-primary: #1e1f20 !default;

$success-bg: #daf5e5 !default;
$info-bg: #d9eaf1 !default;
$warning-bg: #fff0de !default;
$error-bg: #ffe7e2 !default;

// breakpoints
$small: 600px;
